.App {
  padding-top:20% ;
  text-align: center;
  border: 1px solid black;
  height: 60vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.chatResponse .userRespone{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(165, 160, 160, 0.113);
  color: rgb(100, 59, 59);
}

.commentSec{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 7vh;
  padding: 2%;
}

.txtField{
  /*background-color: grey;
  color: white;*/
  min-width: 300px;
  margin-right: 1%;
}